<header>
    <div class="menu">
        <i class="material-icons" onclick="toggleMenu()">close</i>
        <ul>
            <li><a href="index.html">Hem</a></li>
            <li><a href="Search.html">Sök Resa</a></li>
            <li>Kundvagn</li>
        </ul>
        <p>
            Kontaktuppgifter:
        </p>
    </div>
    <i class="material-icons" onclick="toggleMenu()">menu</i>
    <h1>Resa</h1>
    <script src="js/menu.js"></script>
</header>
<nav>
    <a href="Search.html"><p>Sök Resa</p></a>
</nav>
<article>
    <p>Utvalda Resor</p>
    <div class="img1"></div>
    <div class="img2"></div>
    <div class="img3"></div>
    <div class="img4"></div>
    <div class="footer"></div>
</article>