
<header class="search">
    <div class="menu">
        <i class="material-icons" onclick="toggleMenu()">close</i>
        <ul>
            <li><a href="index.html">Hem</a></li>
            <li><a href="Search.html">Sök Resa</a></li>
            <li>Kundvagn</li>
        </ul>
        <p>
            Kontaktuppgifter:
        </p>
    </div>
    <i class="material-icons" onclick="toggleMenu()">menu</i>
    <script src="js/menu.js"></script>
</header>
<article class = "search">
</article>