
<header class="search">
    <div class="menu">
        <i class="material-icons" onclick="toggleMenu()">close</i>
        <ul>
            <li><a href="index.html">Hem</a></li>
            <li><a href="Search.html">Sök Resa</a></li>
            <li>Kundvagn</li>
        </ul>
        <p>
            Kontaktuppgifter:
        </p>
        <img src="img/Logo.png" alt="Logotype">
    </div>
    <i class="material-icons" onclick="toggleMenu()">menu</i>
    <script src="js/menu.js"></script>
    <input class="search" type="text" placeholder="Sök Resa">
    <button class="drop">Hotel \/</button>
    <button class="drop2">Klimat \/</button>
    <button class="drop3">Pris \/</button>
    <button class="search">Sök</button>
</header>
<article class = "search">
    <div class="result">
        <div class="imgres1"></div>
        <h3>Lorem Ipsum</h3>
        <p>Aliquam euismod id lorem ut venenatis. Fusce sit amet nulla iaculis.</p>
    </div>
    <div class="result">
        <div class="imgres2"></div>
        <h3>Dolor sit</h3>
        <p>Maecenas molestie consequat odio, ut congue ante laoreet sed.</p>
    </div>
    <div class="result">
        <div class="imgres3"></div>
        <h3>Amet dolor</h3>
        <p>Suspendisse fringilla a nisi a viverra. In elementum id ligula id sodales.</p>
    </div>
</article>