header.search{
    grid-row: span 2;
    grid-column: span 6;
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: repeat(5, 1fr);
    color: #000F1F;
    background-image: none;
    background-color: #62A4E5;
}

header.search > input.search{
    grid-row: 2/3;
    grid-column: 2/6;
    border-radius: 6px;
}

header.search > button{
    background-color: #A33B34;
    margin-top: 5px;
}

header.search > button.drop{
    grid-row: 3/4;
    grid-column: 1/3;
    margin-left: 20px;
}

header.search > button.drop2{
    grid-row: 3/4;
    grid-column: 3/5;
    margin-left: 5px;
    margin-right: 5px;
}

header.search > button.drop3{
    grid-row: 3/4;
    grid-column: 5/7;
    margin-right: 20px;
}

header.search > button.search{
    grid-row: 4/6;
    grid-column: 3/5;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
}

article.search{
    grid-column: span 6;
    grid-row: span 4;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border-top: solid #000F1F 1px;
}

article.search > p{
    grid-column: 5/9;
    text-align: center;
    color: #000F1F;
    font-family: 'Roboto', sans-serif;
}

div.result{
    grid-row: span 4;
    grid-column: span 12;
    border-bottom: solid #000F1F 1px;
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: repeat(4, 1fr);
}

div.result > div{
    grid-row: 2/4;
    grid-column: 2/4;
    background-color: #5C0D08;
}

article.search > .footer{
    grid-column: span 12;
    grid-row: 12/13;
    background-color: #E6EDAC;
    border-top: solid #000F1F 1px;
}